<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add a Trip</title>
	{% load static %}
	<link rel="stylesheet" rel="shortcut icon" type="text/css" href="{% static 'travelbuddy/css/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h4>Add a trip</h4>
		</div>
		{% if messages %}
			{% for message in messages %}
			<p style="color: red;">{{message}}</p>
			{% endfor %}
		{% endif %}
		<div class="col-md-offset-5 col-md-3">
			<p><a href="/travels">Home</a> | <a href="/logout">Log Out</a></p>
		</div>
		<div class="col-md-12">
			<form action="/create" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label>Destination:</label>
					<input type="text" name="destination">
				</div>
				<div class="form-group">
					<label>Description:</label>
					<input type="text" name="desc">
				</div>
				<div class="form-group">
					<label>Travel date from:</label>
					<input type="date" name="travel_start">
				</div>
				<div class="form-group">
					<label>Travel date to:</label>
					<input type="date" name="travel_end">
				</div>
				<div>
					<input type="submit" class="btn btn-default" value="Add">
				</div>
			</form>
		</div>
	</div>
</body>
</html>