<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Success</title>
	{% load static %}
	<link rel="stylesheet" rel="shortcut icon" type="text/css" href="{% static 'thewall/css/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'thewall/css/main.css' %}">
</head>
<body>
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<h1>Success!</h1>
			<h4>Welcome {{user.name}}</h4>
			{% for message in messages %}
			<p style="color: green">{{message}}</p>
			{% endfor %}
			<form action="/">
				<input type="submit" value="Go Back">
			</form>
		</div>
	</div>
</body>
</html>